# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

# Repo Action 페이지에 나타날 이름 
name: Java CI with Gradle CI/CD

# Event Trigger
# master branch에 push 또는 pull request가 발생할 경우 동작
# branch 단위 외에도, tag나 cron 식 등을 사용할 수 있음 
on:
  push:
    branches: [ "main" ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: init with Gradle
      uses: gradle/gradle-build-action@v2
    - run: gradle init
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v2
      with:
        gradle-version: 7.5.1
    - run: build
# jobs:
#   build:
  
#     # 실행 환경 지정
#     runs-on: ubuntu-latest
    
#     # Task의 sequence를 명시한다.
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Set up JDK 11
#       uses: actions/setup-java@v1
#       with:
#         distribution: temurin
#         java-version: '11'
#         cache: gradle
#     # (n) Gradlew 권한 설정      
#     - name: Setup Gradle
#       uses: gradle/gradle-build-action@v2
#       with:
#        arguments: build
# #        gradle-executable: /path/to/installed/gradle
#     - name: Grant execute permission for gradlew
#       run: git update-index --chmod=+x gradle
    
#     - name: Build with Gradle
#       run: ./gradle clean build
      
   
# name: Run Gradle on PRs
# on: pull_request
# jobs:
#   gradle:
#     strategy:
#       matrix:
#         os: [ubuntu-latest, macos-latest, windows-latest]
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v3
#     - uses: actions/setup-java@v3
#       with:
#         distribution: temurin
#         java-version: 11
        
#     - name: Setup Gradle
#       uses: gradle/gradle-build-action@v2
    
#     - name: Execute Gradle build
#       run: ./gradlew build
